<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cycloid.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cycloid.Services.Properties.Settings>
            <setting name="Cycloid_Services_ChannelWebReference_Service1"
                serializeAs="String">
                <value>http://teste.cycloid.pt/channels_wcf/Service.svc</value>
            </setting>
        </Cycloid.Services.Properties.Settings>
    </applicationSettings>
</configuration>